.g2_add_on table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}
.g2_add_on table, th, td {
    border: 1px solid black;
}
.g2_add_on th {
    padding: 8px;
    text-align: center;
}
.g2_add_on td {
    padding: 8px;
    text-align: left;
}